<%= render '/shared/navbar' %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-8">

      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Your rental</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Edit rental</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="" tabindex="-1" aria-disabled="true">Delete rental</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Congratulation! Your bike rental is confirmed. </h5>
          <h4 class="card-text"><%= @rental.bike.model %></h4>
          <p class="card-text">Start from <%= @rental.start_date %> to  <%= @rental.end_date %></p>
          <p class="card-text">Total price: <%= @rental.rental_price %> €</p>
        </div>
      </div>

    </div>
  </div>
</div>
