<div class="container">
  <div class="row justify-content-center">
      <div class="col-4 mt-4">
        <div class="card user-info">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-large user-photo m-3" %>
          <% else %>
            <%= image_tag "https://oozou.com/assets/placeholder-e61f8e40396b6f3d78281bfa3b2d5ca202616f0e3f9931d451a49d4c2ddfcfea.jpg", alt: "empty-avatar", class: "avatar user-photo m-3" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h5>
            <p class="card-text"><%= current_user.address %></p>
            <p class="card-text"><i class="fas fa-window-restore"></i> Total <%= pluralize current_user.rentals.size,"rental" %></p>
            <p class="card-text"><i class="fas fa-bicycle"></i> Your owned <%= pluralize current_user.bikes.size, "bike"  %></p>
            <ul>
              <% @my_bikes.each do |bike| %>
                <li>
                  <%= link_to bike_path(bike) do %>
                    <%= bike.model %> : has <%= pluralize bike.rentals.size, "review" %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <%= link_to "Add a bike to rent ", new_bike_path, class: "" %>
            </li>
            <li class="list-group-item">
              <%= link_to "Update user information", edit_user_registration_path, class: "" %>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-8 mt-4">
        <div class="my-rentals">

          <h3>My booking history</h3>

          <% @my_rentals.each do |my_rental| %>
          <div class="notification">
            <%= link_to rental_path(my_rental) do %>
              <% if my_rental.bike.photo.attached? %>
                <%= cl_image_tag my_rental.bike.photo.key, width: 110 %>
              <% end %>
            <% end %>
            <div class="notification-content">
              <p><small><%= my_rental.start_date %> to <%= my_rental.end_date %></small></p>
              <p class='px-2'><strong><%= my_rental.bike.model %></strong></p>
              <p class="d-inline p-2"><i class="fas fa-bicycle"></i> <%= my_rental.bike.bike_type %></p>
              <p class="d-inline p-2"><i class="fas fa-battery-full"></i> <%= my_rental.bike.condition %></p>
              <p class="d-inline p-2"><i class="fas fa-euro-sign"></i> <%= my_rental.rental_price %></p>
              <p class="p-2">
                Status:
                <% if my_rental.confirmation.nil? %>
                  Pending...
                <% elsif my_rental.confirmation == true%>
                  Accepted
                <% else %>
                  Denied
                <% end %>
              </p>
            </div>


            <div class="notification-actions">
              <%= link_to edit_rental_path(my_rental) do%>
                Edit <i class="fas fa-pencil-alt"></i>
              <% end %>
              <%= link_to rental_path(my_rental), method: :delete, data: { confirm: "Are you sure?" } do %>
                Delete <i class="far fa-trash-alt"></i>
              <% end %>
              <% unless my_rental.end_date > DateTime.now %>
                <%= link_to rental_path(my_rental) do%>
                  Review <i class="fas fa-star"></i>
                <% end %>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>

        <div class="my-requests">
        <% if @ask_rentals.length >0 %>
          <h3>My list of requests</h3>
          <% @ask_rentals.each do |r_request| %>
            <div class="notification">
              <% if r_request.user.photo.attached? %>
                <%= cl_image_tag r_request.user.photo.key, class: "avatar mb-1" %>
              <% else %>
                <%= image_tag "https://oozou.com/assets/placeholder-e61f8e40396b6f3d78281bfa3b2d5ca202616f0e3f9931d451a49d4c2ddfcfea.jpg", alt: "empty-avatar", class: "avatar mb-1" %>
              <% end %>
              <div class="notification-content">
                <p><small><%= r_request.start_date %> to <%= r_request.end_date %></small></p>
                <p class='px-2'><strong><%= r_request.bike.model %></strong></p>
                <p class="d-inline p-2"><i class="fas fa-bicycle"></i> <%= r_request.bike.bike_type %></p>
                <p class="d-inline p-2"><i class="fas fa-battery-full"></i> <%= r_request.bike.condition %></p>
                <p class="d-inline p-2"><i class="fas fa-euro-sign"></i> <%= r_request.rental_price %></p>
                <p class="p-2">
                Status:
                  <% if r_request.confirmation.nil? %>
                    Pending...
                  <% elsif r_request.confirmation == true%>
                    Accepted
                  <% else %>
                    Denied
                  <% end %>
                </p>
              </div>

              <% if r_request.confirmation.nil? %>
              <div class=“notification-actions”>
                <%= button_to "Accept", rental_update_confirmation_path(r_request, validated:'true'), method: :post, class:"mb-3 btn btn-outline-success"  %>
                <%= button_to "Reject ", rental_update_confirmation_path(r_request, validated:'false'), method: :post, class:"btn btn-outline-danger" %>
              </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
  </div>
</div>
